.post {
    border: 1px solid #000;

    .img {
      background-image: url("https://cupcakejunky.files.wordpress.com/2011/02/cute-pig1.jpg");
      background-repeat: no-repeat;
      height: 300px;
      width: 300px;
      background-size: 300px 300px;
      margin: 0 auto;
    }
}